extends layout
block content
    h2 Driver Detail
    h3 #{driver.name}'s detail page and age is #{driver.age}
    h3 #{driver.name}'s location is #{driver.location}
    
              
            
            

            
        
            
                
        