extends layout
block content
    h1 Welcome Passengers
    p There are #{passengers.length} passenger waiting..
    ol
        each passenger in passengers
            li
                a(href=`/passengers/${passenger.id}`) #{passenger.name}
            

            
        
            
                
        